
      <!-- <app-dropdown></app-dropdown> -->
  <router-outlet></router-outlet>
<!-- <app-reusable></app-reusable> -->

<!-- <app-user-detail></app-user-detail> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <a routerLink="reuse">Reuse</a> 
<router-outlet></router-outlet> -->
<!-- <app-practise></app-practise> -->
<!-- <h1>{{ title }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="(loginUser)">
  <input
    type="text"
    name="user"
    placeholder="Enter Username"
    formControlName="user"
  />
  <br />
  <span *ngIf="user && user.invalid && user.touched"
    >This Field is invalid</span
  >
  <br />
  <input
    type="password"
    name="user"
    placeholder="Enter password"
    formControlName="password"
  />
  <br />
  <span *ngIf="password && password.invalid && password.touched"
    >This Field is invalid</span
  >
  <br />
  <button [disabled]="loginForm.invalid">Submit</button>
</form> -->

<!-- <form #loginform="ngForm" (ngSubmit)="userLogin(loginform.value)">
  <input type="text" required #name="ngModel" pattern="[a-zA-z]+$" 
  placeholder="Enter your name" name="name" ngModel>
  <br>
  <span *ngIf="name.invalid && name.touched" style="color: red;">
    Please enter you name</span>
  <br>
  <input type="password" name="password" required #password="ngModel" 
  minlength="2" placeholder="Enter your password" ngModel>
  <br>
  <span *ngIf="password.invalid && password.touched" style="color: red;">
    Please enter you passwords</span>
  <br>
  <button [disabled]="loginform.invalid">Login</button>
</form> -->

<!-- <input type="text" [(ngModel)]="name">
<h3>{{name}}</h3> -->

<!-- <app-child (updateDataEvent)="updateData($event)"></app-child> -->

<!-- <ul *ngFor="let user of userdetail">
  <app-user-detail [item] ="user"></app-user-detail>
</ul> -->

<!-- <app-child [item]="data"></app-child>
<button (click)="updateChild()">Update The Child</button> -->

<!-- <input type="text" placeholder="Enter New Task" #task>
<br> <br>
<button (click)="addTask(task.value)">Add Task</button>

<ul *ngFor="let item of list">
  <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul> -->
